@font-face {
    font-family: "groove";
    src: url(fonts/Bold\ Groove.woff),
         url(fonts/Bold\ Groove.woff2);
    
}


*{
    margin: 0;
}

body{
    background-color: #C71111;
    box-sizing: border-box;
    padding: 0;
}

#navigation{
    background-color: #1B1919;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation nav{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 13px;
    background-color: #C71111;
    width: 250px;
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    padding: 8px 30px;
}

.nav-links ul li{
    text-decoration: none;
    text-align: center;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-family: 'BoldGroove', sans-serif;
}



.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}

.home-img{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: -350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 564px;
    height: 545px;
    margin-top: 250px;
}

.home-img img:hover{
    
}

.home-text h1{
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: "groove";
    font-weight: 200;
}


