@font-face {
    font-family: "groove";
    src: url(fonts/Bold\ Groove.woff),
         url(fonts/Bold\ Groove.woff2);
    
}


*{
    margin: 0;
}

body{
    background-color: #C71111;
    box-sizing: border-box;
    padding: 0;
}

#navigation{
    background-color: #1B1919;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation nav{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 13px;
    background-color: #C71111;
    width: 250px;
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    padding: 8px 30px;
}

.nav-links ul li{
    text-decoration: none;
    text-align: center;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-family: 'BoldGroove', sans-serif;
}



.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}

.home-img{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: -350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 564px;
    height: 545px;
    margin-top: 250px;
}

.home-img img:hover{
    
}

.home-text h1{
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: "groove";
    font-weight: 200;
}













 #product-box {
            background-color: #1B1919;
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 16px;
            max-width: 300px;
            height: 300px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin: auto;
        }
        .product-img img {
            max-width: 100%;
            width: 150px;
            height: 140px;
            border-radius: 8px;
        }
        .product-details {
            color: white;
            margin-top: 12px;
        }
        .product-details h2 {
            font-family: "groove", sans-serif;
            font-weight: 200;
            font-size: 1.5em;
            margin-bottom: 8px;
        }
    
        .price {
            font-size: 1.2em;
            color: white;
            font-weight: 700;
            margin-bottom: 12px;
            display: block;
        }
        .order-btn {
            background-color: #C71111;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }
        .order-btn:hover {
            background-color: #a00c0c;
        }


